.centrado{
    text-align: center;
    padding: 50px;
    color: blue;
}

.botones{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-evenly ;
    

    
}

.btnwow{
    margin-top: 300px;
}




